alphashape
argparse
gmsh==4.8.4
h5py
hdbscan
igraph
jax
jupyter
matplotlib
meshio
nb_conda_kernels
networkx
numpy
openpyxl
pandas
pybamm
python-gmsh
pyvista
scipy
scikit-image
scikit-learn
tetgen
vtk
