fenics-dolfinx
mpich
alphashape
igraph
hdbscan
igraph
ipympl
ipykernel
jax
jupyter
jupyterlab
libptscotch
libscotch
matplotlib
meshio
nb_conda_kernels
numpy
openpyxl
pandas
pybamm
python-gmsh
pyvista
pyvistaqt
scipy
scikit-learn
tetgen
vtk
