alphashape
argparse
gmsh==4.8.4
h5py
hdbscan
igraph
ipympl
jax
jupyter
matplotlib
meshio
nb_conda_kernels
networkx
numpy
openpyxl
pandas
pybamm
python-gmsh
pythreejs
pyvista
scipy
scikit-image
scikit-learn
tetgen
trame-vtk
trame-vuetify
trame-plotly
vtk
